@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        @apply m-0 p-0 box-border;
    }
    html{
        @apply scroll-smooth;
    }
    body{
        @apply overflow-x-hidden max-w-[100vw] text-base !bg-main text-text;
    }
}

@layer utilities{
    .animation-click-btn {
        @apply transform active:scale-y-75 transition-transform active:top-2 focus:ring-2 ring-primary-lv3
    }

}

@layer components{

    .container-layout{
        @apply container max-w-full min-h-screen m-auto  text-text relative  bg-main;
    }
    .container-modal {
        @apply h-full fixed top-0 left-0 backdrop-blur-sm bg-white/30;
    }

}